th {
	font-weight: 700;
	font-size: medium;
	width: 500px;
}
caption {
	font-size: large;
	font-weight: bold;
	text-align: center;
}
td {
	width: 500px;
	text-align: center;
	padding: 2px;
}
.title {
	font-weight: bold;
	font-size: x-large;
	text-align: center;
}
