vti_encoding:SR|utf8-nl
vti_author:SR|LAPTOP-8385L8BQ\\Jolisa Chan
vti_modifiedby:SR|LAPTOP-8385L8BQ\\Jolisa Chan
vti_timelastmodified:TR|18 Apr 2017 02:53:39 -0000
vti_timecreated:TR|10 Apr 2017 21:28:30 -0000
vti_extenderversion:SR|12.0.0.0
vti_nexttolasttimemodified:TW|18 Apr 2017 02:51:31 -0000
vti_backlinkinfo:VX|Project/Car4.html Project/Car5.html Project/Car3.html Project/Car2.html Project/Car1.html
vti_cacheddtm:TX|18 Apr 2017 02:53:39 -0000
vti_filesize:IR|287
